html {
  background: url("images/Shastadark.jpg") no-repeat center center fixed;
    background-size: cover;
}


body{
      margin:0;
      padding:0;
      height:100%;
}


#wrapper {
      min-height:100%;
      position:relative;
}


.header {
        margin-top:25px;
        font-size: 75px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        color:white;
        margin-left:100px;
        padding:10px;
}
.line-separator {
  height:5px;
  background:#CAD8E5;
  border-bottom:2px solid#5A4E41;
  margin-left:100px;
  margin-right:-10px;
  border-radius:7px;
}
.navbar {
  margin-left:100px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color:#CAD8E5;
  float:left;

}
a {color:#CAD8E5;
    text-decoration: none;}      /* unvisited link */
a:visited {color:#CAD8E5;
          text-decoration: none;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:#CAD8E5;}

img  {
  height:200px;
  width:250px;
  border-radius:20px;
}
.blogpoststech  {
  margin-top: 100px;
  float:left;
  margin-left:50px;
  display: inline;
  padding:10px;
  padding-bottom: 20px;
}
.blogpoststech h4:hover ul{
  display:block;
}
.blogpoststech h4 ul{
  display:none;
  position:relative;
}

.blogpoststech ul{
  list-style-type: none;
  padding:0px;
  padding-top: 10px;
  margin-top: 0px;
}



.blogpostscultural  {
  margin-top: 100px;
  float:right;
  margin-right:250px;
  display:inline;
  padding:10px;
  padding-bottom: 20px;
}

.blogpostscultural h4:hover ul{
  display:block;
}
.blogpostscultural h4 ul{
  display:none;
  position:relative;
}
.blogpostscultural ul{
  list-style-type: none;
  padding: 0px;
  padding-top: 10px;
  margin-top: 0px;
}

h4  {
  text-align:center;
  color:#CAD8E5;
}

.footerline {
  height:5px;
  background:#CAD8E5;
  border-bottom:2px solid#5A4E41;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  border-radius:7px;
  clear:both;
}

#footer{

  width:100%;
  height:0px;

  bottom:0;
  left:0;
  clear:both;
}
#footer img {
  height: 70px;
  width: 70px
}
