html  {
}


body{background: url("images/Shastalight.jpg") no-repeat center center fixed;
  background-size: cover;

      margin:0;
      padding:0;
      height:100%;
}
h1{

  font-size: 4em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.line-separator {
  height:5px;
  background:#CAD8E5;
  border-bottom:2px solid#5A4E41;

}
.navbar {
  margin-left:300px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color:#CAD8E5;
  padding:10px;
  padding-bottom: 80px;

}
a {color:#CAD8E5;
    text-decoration: none;}      /* unvisited link */
a:visited {color:#CAD8E5;
          text-decoration: none;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:#CAD8E5;}

#footer{
  width:100%;
  height:100%;
  background-color: black;
  bottom:0;
  left:0;
}
.footerline {
  height:5px;
  background:#CAD8E5;
  border-bottom:2px solid#5A4E41;
}
